#doctor-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.main-doctor-container {
  position: relative;
  width: 100%;
  height: 30rem;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.main-doctor-container:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
